<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto mt-4">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/img/about-2.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Sign up with</h6>
                        <div class="facebook text-center mr-3">
                            <div class="fa fa-facebook"></div>
                        </div>
                        <div class="twitter text-center mr-3">
                            <div class="fa fa-twitter"></div>
                        </div>
                        <div class="linkedin text-center mr-3">
                            <div class="fa fa-linkedin"></div>
                        </div>
                        <div class="google text-center mr-3">
                            <div class="fa fa-google"></div>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <form [formGroup]='userInfo' (ngSubmit)='submit()' >
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">userName</h6>
                        </label> 
                        <input class="mb-4" 
                        type="text" 
                        class="form-control"
                        [ngClass]="{'is-invalid' : userInfoControl.userName.errors &&(userInfoControl.userName.touched ) }"
                        formControlName='userName'
                        name="email" 
                        placeholder="Enter your prefered userName" 
                        >
                    <div class="invalid-feedback"
                    *ngIf="(userInfoControl.userName.touched || submitted) && userInfoControl.userName.errors?.required">
                        userName required
                    </div>
                    <div class="invalid-feedback"
                    *ngIf="userInfoControl.userName.touched && userInfoControl.userName.errors?.minlength">
                        userName must be atleast 4 characters
                    </div>
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> 
                        <input class="mb-4" 
                        type="text" 
                        class="form-control"
                        [ngClass]="{'is-invalid' : userInfoControl.email.errors &&userInfoControl.email.touched}"
                        formControlName='email'
                        name="email" 
                        placeholder="Enter a valid email address" 
                        >
                    <div class="invalid-feedback"
                    *ngIf="userInfoControl.email.touched || submitted && userInfoControl.email.errors?.required">
                     email address required</div>
                    </div>
                    <div class="invalid-feedback"
                    *ngIf="userInfoControl.email.touched && userInfoControl.email.errors?.email">
                    enter a valid emailAddress</div>
                    
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label>
                         <input type="password"
                         formControlName='password' 
                         class="form-control"
                         [ngClass]="{'is-invalid' : userInfoControl.password.errors &&userInfoControl.password.touched}"
                         name="password" 
                         placeholder="Enter password">
                        <div class='invalid-feedback'
                            *ngIf="(userInfoControl.password.touched ) && userInfoControl.password.errors?.required">
                            Password is required
                        </div>
                        <div class='invalid-feedback'
                            *ngIf="userInfoControl.password.touched && userInfoControl.password.errors?.invalidPassword">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </div>
                     </div>

                    <!-- [ngClass]="{'is-invalid' : userInfo.get('confirmpassword').errors}"  -->
                    <!-- *ngIf="userInfo.get('confirmpassword').hasError('passwordMismatch') " -->

                    <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Confirm Password</h6>
                        </label>
                         <input type="password"
                         formControlName='confirmpassword'
                         class="form-control"
                         [ngClass]="{'is-invalid' : userInfoControl.confirmpassword.errors &&userInfoControl.confirmpassword.touched }"
                         name="confirmpassword" 
                         placeholder="confirm password" 
                         >
                         <div class="invalid-feedback" 
                         *ngIf="userInfoControl.confirmpassword.touched && userInfoControl.confirmpassword.errors?.required"
                         >
                             confirm password required
                         </div>
                         <div class="invalid-feedback" 
                         *ngIf="userInfoControl.confirmpassword.touched && userInfoControl.confirmpassword.errors?.passwordMismatch"
                         >
                             passwords do not match
                         </div>
                    </div>
                   <p>form:{{userInfo.status}}</p>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">signUp</button> </div>
                </form>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">have an account <a class="text-danger" routerLink='/login' routerLinkActive='active'>Login</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-2 fixed-bottom">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021 All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>

