

  <!-- Page Content -->
  <section class="py-0">
    <div class="bg-holder" style="background-image:url(assets/img/dot.png);background-position:left;background-size:auto;margin-top:105px;"></div>
    <!--/.bg-holder-->
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="assets/img/hero-header.png" alt="" /></div>
        <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
          <h4 class="mt-1 display-4 fw-bold">save for health <br class="d-block d-sm-none d-xm-block" />save for a life</h4>
          <p class="mt-3 mb-4 fs-1">Clinic Pesa provides you with Health Financing <br class="d-none d-lg-block" />accessible on mobile and online<br class="d-none d-lg-block" />for everyone</p><a class="btn btn-lg btn-primary rounded-pill hover-top" routerLink='/services' routerLinkActive='active' role="button">Learn more</a>
        </div>
      </div>
    </div>
  </section>

