<section class="py-8 mt-4">
    <div class="bg-holder" style="background-image:url(assets/img/services-bg.png);background-position:center left;background-size:auto;"></div>
    <!--/.bg-holder-->
    <div class="bg-holder" style="background-image:url(assets/img/dot-2.png);background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;"></div>
    <!--/.bg-holder-->
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-3 text-center mt-4">
          <h2 class="fs-bold">Our services</h2>
          <hr class="w-25 mx-auto text-dark" style="height:2px;" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-8 text-center">
          <p> <strong>CLINIC PESA</strong>  empowers its' registered Users, Businesses and Health care Facilities | Pharmacies with three major account features.</p>
        </div>
      </div>
      <div class="row justify-content-center h-100 pt-7 g-4">
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/img/pig-save.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Individual account on *165*5#</h4>
                <p class="card-text">Through your mobile Money,
                     Set a standing order to auto save to and build your credit score.
                     and Enjoy bonuses inform of annual interest</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/img/health-1.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Health Facility Merchant accounts</h4>
                <p class="card-text">Create an account ,
                    Get verified and receive a till code
                     and start receiving your instant full payment at a click of a button<br>
                     Get access to a credit facility</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4">
          <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
            <div class="card-body text-center text-md-start">
              <div class="py-3"><img class="img-fluid" src="assets/img/business-account.png" height="90" alt="" /></div>
              <div class="py-3">
                <h4 class="fw-bold card-title">Business Account contact clinicPesa</h4>
                <p class="card-text">Create an account online or your android application <br>
                     Set the number of employees and their contacts as account Identification number<br>
                     Set their usage limits for each employee<br>
                    Track and approve usage for medical funds for each employee</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn more </button></div>
      </div>
    </div>
  </section>
